<!doctype html>
<html lang="en">
  <%- include("../partials/header", {title:"Ajouter un article"}) %>

  <body>
    <div class="container">
      <h1>Ajouter un article</h1>
      <form action="" method="post" class="registration-form">
        <%- include('../components/input',{type:"text", name:"title"}) %>
        <label>Content</label>
        <textarea name="content"></textarea>
        <button type="submit" class="btn-submit">Ajouter</button>
      </form>
    </div>
  </body>
</html>
