<!doctype html>
<html lang="en">
	<%- include("../partials/header", {title:"Inscription"}) %>

	<body>
		<div class="container" style="margin-top: 50px;height:100svh; background: radial-gradient(50% 50% at 50% 50%, #1C2434 0%, var(--background) 100%);">
			<h1 class="login-title">Inscription</h1>
			<form style="margin-bottom: 40px;" action="" method="post" class="registration-form">
				<%- include('../components/input',{type:"text", name:"username"}) %>
				<%- include('../components/input',{type:"email", name:"email"}) %>
				<%- include('../components/input',{type:"password", name:"password"}) %>
				<button type="submit" class="btn-submit">Inscription</button>
			</form>
			<di class="signup-privacy-box">
				<i class="fa-solid fa-shield-halved"></i>
				<p class="post_content">
					Dans le respect de vos informations personnels.</p>
			</div>
		</div>
	</body>

</html>
