* {
  padding: 0;
  margin: 0;
}

:root {
  --gray-950: hsl(217, 45%, 6%);
  --gray-900: hsl(219, 44%, 8%);
  --background: hsl(220, 43%, 10%);
  --foreground: hsl(214, 43%, 83%);
  --muted: hsl(210, 58%, 84%);
  --muted-foreground: hsl(215.4, 16.3%, 46.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(222.2, 47.4%, 11.2%);
  --border: hsl(219, 35%, 19%);
  --input: hsl(220, 43%, 10%);
  --card: hsl(220, 36%, 12%);
  --card-foreground: hsl(222.2, 47.4%, 11.2%);
  --primary: hsl(177, 87%, 75%);
  --primary-foreground: hsl(188, 41.7%, 10.8%);
  --secondary: hsl(210, 40%, 96.1%);
  --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
  --accent: hsl(210, 40%, 96.1%);
  --accent-foreground: hsl(222.2, 47.4%, 11.2%);
  --destructive: hsl(0, 100%, 50%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --ring: hsl(186.9, 92.3%, 69%);
  --radius: 0.5rem;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  overflow-x: hidden;
}

button {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

.container {
  padding-bottom: 2rem;
  background-color: var(--background);
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.login-img-container {
  max-width: 1600px;
  width: 100%;
  height: 600px;
  position: absolute;
  top: -30px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100svh;
}

.login-title {
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  color: white;
  max-width: 768px;
  text-wrap: balance;
}

h1 {
  margin: 20px 0;
  text-align: center;
  color: white;
}

.btn-submit {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--primary-foreground);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: var(--secondary);
}

.navigation {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: var(--background);
  color: white !important;
  border-bottom: 1px solid var(--border);
  padding: 10px 20px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.navigation h1 {
  color: var(--card-foreground) !important;
  margin: 0;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-link-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.nav-item {
  margin: 0;
}

.login {
  color: #e5e8eb;
}

.signup {
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--primary-foreground) !important;
  border-radius: 0.25rem;
  background-color: var(--primary);
  font-weight: bold;
  &:hover {
    background-color: hsla(177, 87%, 75%, 0.9);
  }
}

.nav-button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgb(31 39 53);
  --tw-text-opacity: 1;
  color: rgb(203 213 225);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(51 65 85);
  }
}

.logout-form {
  display: inline;
}

.posts {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.post {
  width: 100%;
  display: flex;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
  padding: 20px;
}

.post_title {
  color: white;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.post_content {
  --tw-text-opacity: 1;
  color: rgb(203 213 225);
}

.post_date {
  color: rgb(203 213 225);
  font-weight: lighter;
  font-style: italic;
}

.post_read_date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_read {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  --tw-text-opacity: 1;
  color: rgb(203 213 225);
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(30 41 59);
  border-radius: 0.25rem;
}

label {
  line-height: 1;
  font-weight: 500;
  font-size: 0.9rem;
  color: #c1d1e6;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
}

.form-input:focus {
  border-color: var(--primary);
  outline: none;
}

label {
  width: 100%;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 0.75rem;
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid rgb(71 85 105);
  background-color: var(--input);
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
  padding: 1rem;
  outline: 0;
  box-sizing: border-box; /* Ajout de cette ligne */

  &:focus {
    border-color: var(--primary);
  }

  &::placeholder {
    color: rgb(103, 124, 153);
    font-weight: bold;
  }
}

textarea {
  margin-top: 4px;
  margin-bottom: 0.75rem;
  display: block;
  width: 100%;
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid rgb(71 85 105);
  background-color: var(--input);
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
  padding: 1rem;
  outline: 0;

  &:focus {
    border-color: var(--primary);
  }

  &::placeholder {
    color: rgb(103, 124, 153);
    font-weight: bold;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.svg-light {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  width: 80%;
  top: -100px;
  left: 150px;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
  height: 12px; /* height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--gray-950); /* background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-900); /* color of the scrollbar thumb */
  border-radius: 6px; /* roundness of the scrollbar thumb */
  border: 3px solid var(--gray-950); /* space around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --foreground
  ); /* color of the scrollbar thumb on hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* scrollbar width */
  scrollbar-color: var(--gray-900) var(--gray-950); /* scrollbar thumb and track color */
}

/* For Edge and other browsers using standard scrollbar properties */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-900) var(--gray-950);
}

/* Pour les écrans d'une largeur maximale de 768 pixels */
@media screen and (max-width: 768px) {
  .posts {
    width: 90%;
  }

  .post_title {
    font-size: 2rem;
  }

  .container {
    padding: 1rem 20px;
    margin-top: 0px !important;
  }

  .login-img-container {
    display: none;
  }

  .login-section {
    width: 100%;
    justify-content: start;
  }

  .login-title {
    font-size: 2.5rem;
  }

  .registration-form {
    width: 80%;
  }

  .post_content {
    max-width: 100%;
    word-wrap: break-word;
  }
}
